<%- include('./partials/header.ejs') %>
    <form action="/create-auction" method="POST" enctype="application/x-www-form-urlencoded">
        <label for="itemName">Item Name:</label>
        <input name="itemName" type="text">
        <label for="baseBid">Base bid:</label>
        <input name="baseBid" type="number">
        <button type="submit">Auction item</button>
    </form>
<%- include('./partials/footer') %> 