<%- include('./partials/header.ejs') %>
    <form>
        <label for="itemName">Item Name*:</label>
        <input name="itemName" type="text" required>
        <label for="baseBid">Base bid*:</label>
        <input name="baseBid" type="number" required>
        <label for="description">Description*:</label>
        <textarea name="description" ></textarea>
        <label for="imageUrl">Give the image's url*: </label>
        <input type="url" name="imageUrl" required>
        <label for="expiryDate">Expiry Date & time:</label>
        <input name="expiryDate" type="datetime-local" required>
        <button type="submit">Auction item</button>
    </form>

    <script>
        const form = document.querySelector('form');
    
        form.addEventListener('submit',async (e) =>{
       
    
            e.preventDefault();
            const itemName = form.itemName.value;
            const baseBid = form.baseBid.value;
            const imageUrl = form.imageUrl.value;
            const description = form.description.value;
            const expiryDate = form.expiryDate.value;
    
            try{
                const res = await fetch('/create-auction',{
                    method: 'POST',                    
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({itemName,baseBid,description,imageUrl,expiryDate}),
                });
                const data = await res.json();
                console.log(data);
                if(data.auction){
                    location.assign('/');
                }
            }
            catch (err){
                console.log(err);
            }
        });
    </script>
<%- include('./partials/footer') %> 